<a href="https://colab.research.google.com/github/ahmadshabbir862/DL_Assignments/blob/main/Concrete_Strength_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment: Compresive Strength Concrete Problem


### Abstract: 

Concrete is the most important material in civil engineering. The concrete compressive strength (concrete strength to bear the load) is a highly nonlinear function of age and ingredients.  <br><br>

<table border="1"  cellpadding="6" bordercolor="red">
	<tbody>
        <tr>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Data Set Characteristics:&nbsp;&nbsp;</b></p></td>
		<td><p class="normal">Multivariate</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Instances:</b></p></td>
		<td><p class="normal">1030</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Area:</b></p></td>
		<td><p class="normal">Physical</p></td>
        </tr>
     </tbody>
    </table>
<table border="1" cellpadding="6">
    <tbody>
        <tr>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Attribute Characteristics:</b></p></td>
            <td><p class="normal">Real</p></td>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Number of Attributes:</b></p></td>
            <td><p class="normal">9</p></td>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Date Donated</b></p></td>
            <td><p class="normal">2007-08-03</p></td>
        </tr>
     </tbody>
    </table>
<table border="1" cellpadding="6">	
    <tbody>
    <tr>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Associated Tasks:</b></p></td>
		<td><p class="normal">Regression</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Missing Values?</b></p></td>
		<td><p class="normal">N/A</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Web Hits:</b></p></td>
		<td><p class="normal">231464</p></td>
	</tr>
    </tbody>
    </table>

###  Description:
| Features Name | Data Type | Measurement | Description |
| -- | -- | -- | -- |
Cement (component 1) | quantitative | kg in a m3 mixture | Input Variable
Blast Furnace Slag (component 2) | quantitative | kg in a m3 mixture | Input Variable
Fly Ash (component 3) | quantitative | kg in a m3 mixture | Input Variable
Water (component 4) | quantitative | kg in a m3 mixture | Input Variable
Superplasticizer (component 5) | quantitative | kg in a m3 mixture | Input Variable
Coarse Aggregate (component 6) | quantitative | kg in a m3 mixture | Input Variable
Fine Aggregate (component 7) | quantitative | kg in a m3 mixture | Input Variable
Age | quantitative | Day (1~365) | Input Variable
Concrete compressive strength | quantitative | MPa | Output Variable

### WORKFLOW :
- Load Data
- Check Missing Values ( If Exist ; Fill each record with mean of its feature )
- Standardized the Input Variables. **Hint**: Centeralized the data
- Split into 50% Training(Samples,Labels) , 30% Test(Samples,Labels) and 20% Validation Data(Samples,Labels).
- Model : input Layer (No. of features ), 3 hidden layers including 10,8,6 unit & Output Layer with activation function relu/tanh (check by experiment).
- Compilation Step (Note : Its a Regression problem , select loss , metrics according to it)
- Train the Model with Epochs (100) and validate it
- If the model gets overfit tune your model by changing the units , No. of layers , activation function , epochs , add dropout layer or add Regularizer according to the need .
- Evaluation Step
- Prediction

# Load Data:
[Click Here to Download DataSet](https://github.com/ramsha275/ML_Datasets/blob/main/compresive_strength_concrete.csv)

In [ ]:
%cd/content/drive/MyDrive/AI_assignment

[Errno 2] No such file or directory: '/content/drive/MyDrive/AI_assignment'
/content

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

In [3]:
import io
from google.colab import files
uploaded = files.upload()

Saving compresive_strength_concrete.csv to compresive_strength_concrete.csv

In [4]:
df = pd.read_csv(io.BytesIO(uploaded['compresive_strength_concrete.csv']))
df.head()

   Cement (component 1)(kg in a m^3 mixture)  ...  Concrete compressive strength(MPa, megapascals)
0                                      540.0  ...                                             79.99
1                                      540.0  ...                                             61.89
2                                      332.5  ...                                             40.27
3                                      332.5  ...                                             41.05
4                                      198.6  ...                                             44.30

[5 rows x 9 columns]

In [33]:
#df = pd.read_csv('compresive_strength_concrete.csv')

In [5]:
df = df.rename(columns={'Cement (component 1)(kg in a m^3 mixture)':'cement',
                        'Blast Furnace Slag (component 2)(kg in a m^3 mixture)':'Slag',
                        'Fly Ash (component 3)(kg in a m^3 mixture)':'Ash',
                        df.columns[3]:"Water",
                        'Superplasticizer (component 5)(kg in a m^3 mixture)':'Superplasticizer',
                        df.columns[5]:'Coarse Aggregate',
                        'Fine Aggregate (component 7)(kg in a m^3 mixture)':'Fine Aggregate',
                        'Age (day)':'Age',
                        df.columns[8]:'CCS'})
df.head()

   cement   Slag  Ash  Water  ...  Coarse Aggregate  Fine Aggregate  Age    CCS
0   540.0    0.0  0.0  162.0  ...            1040.0           676.0   28  79.99
1   540.0    0.0  0.0  162.0  ...            1055.0           676.0   28  61.89
2   332.5  142.5  0.0  228.0  ...             932.0           594.0  270  40.27
3   332.5  142.5  0.0  228.0  ...             932.0           594.0  365  41.05
4   198.6  132.4  0.0  192.0  ...             978.4           825.5  360  44.30

[5 rows x 9 columns]

In [6]:
np.where(df.applymap(lambda x: x==''))

(array([], dtype=int64), array([], dtype=int64))

In [7]:
df.isnull().any()

cement              False
Slag                False
Ash                 False
Water               False
Superplasticizer    False
Coarse Aggregate    False
Fine Aggregate      False
Age                 False
CCS                 False
dtype: bool

In [8]:
df.shape

(1030, 9)

In [9]:
df['Age'] = df['Age'].astype(float)

In [10]:
df['CCS'] = df['CCS'].astype(int)

In [11]:
df.dtypes

cement              float64
Slag                float64
Ash                 float64
Water               float64
Superplasticizer    float64
Coarse Aggregate    float64
Fine Aggregate      float64
Age                 float64
CCS                   int64
dtype: object

In [12]:
df.describe()

            cement         Slag  ...          Age          CCS
count  1030.000000  1030.000000  ...  1030.000000  1030.000000
mean    281.167864    73.895825  ...    45.662136    35.319417
std     104.506364    86.279342  ...    63.169912    16.705298
min     102.000000     0.000000  ...     1.000000     2.000000
25%     192.375000     0.000000  ...     7.000000    23.000000
50%     272.900000    22.000000  ...    28.000000    34.000000
75%     350.000000   142.950000  ...    56.000000    45.750000
max     540.000000   359.400000  ...   365.000000    82.000000

[8 rows x 9 columns]

In [13]:
X = df.iloc[:,:-1] # Features 
y = df.iloc[:,-1] # Target

In [15]:
#y = df['CCS']
data = df.drop('CCS', axis=1)

In [16]:
from scipy.stats import zscore
Xscaled = X.apply(zscore)
Xscaled_df = pd.DataFrame(Xscaled, columns=df.columns)

In [17]:
from sklearn.model_selection import train_test_split
train_data, test_data, train_label, test_label = train_test_split(Xscaled, y, test_size=0.3, random_state=1)

In [18]:
mean = train_data.mean(axis=0)
train_data -= mean
std = train_data.std(axis=0)
train_data /= std
test_data -= mean
test_data /= std

##**Buid a Network**

In [19]:
from keras import models
from keras import layers
def build_model(act):
  model = models.Sequential()
  model.add(layers.Dense(10, activation= act,input_shape=(train_data.shape[1],)))
  model.add(layers.Dense(8, activation= act))
  model.add(layers.Dense(6, activation= act))
  model.add(layers.Dense(1))
  model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
  return model

In [22]:
build_model('relu').summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                90
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 239
Trainable params: 239
Non-trainable params: 0
_________________________________________________________________

In [39]:
# dropout model
from keras import regularizers
def build_model_drop(act):
  model = models.Sequential()
  model.add(layers.Dense(10, activation= act,input_shape=(train_data.shape[1],)))
  model.add(layers.Dropout(0.5))
  model.add(layers.Dense(8, activation= act))
  model.add(layers.Dropout(0.5))
  model.add(layers.Dense(6, activation= act))
  model.add(layers.Dropout(0.5))
  model.add(layers.Dense(1))
  model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
  return model

In [40]:
build_model_drop('relu').summary()

Model: "sequential_12"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_44 (Dense)             (None, 10)                90
_________________________________________________________________
dropout_27 (Dropout)         (None, 10)                0
_________________________________________________________________
dense_45 (Dense)             (None, 8)                 88
_________________________________________________________________
dropout_28 (Dropout)         (None, 8)                 0
_________________________________________________________________
dense_46 (Dense)             (None, 6)                 54
_________________________________________________________________
dropout_29 (Dropout)         (None, 6)                 0
_________________________________________________________________
dense_47 (Dense)             (None, 1)                 7
=================================================================
Total params: 239
Trainable params: 239
Non-trainable params: 0
_________________________________________________________________

In [24]:
#k-fold validtion with dropout
import numpy as np
k =  4
num_val_samples = len(train_data) // k
num_epochs = 100
all_scores_drop = []
for i in range(k):
  print('processing fold #', i)
  val_data = train_data[i * num_val_samples: (i + 1) * num_val_samples]
  val_targets = train_label[i * num_val_samples: (i + 1) * num_val_samples]
  partial_train_data = np.concatenate([train_data[:i * num_val_samples],train_data[(i + 1) * num_val_samples:]],  axis=0)
  # print(partial_train_data)
  partial_train_targets = np.concatenate([train_label[:i * num_val_samples],train_label[(i + 1) * num_val_samples:]],axis=0)
  model = build_model_drop('relu')
  model.fit(partial_train_data, partial_train_targets,epochs=num_epochs, batch_size=1, verbose=0)
  val_mse, val_mae = model.evaluate(val_data, val_targets, verbose=0)
  all_scores_drop.append(val_mae)

processing fold # 0
processing fold # 1
processing fold # 2
processing fold # 3

In [41]:
all_scores_drop

[10.718053817749023, 10.726532936096191, 8.364663124084473, 9.576671600341797]

In [23]:
model_relu = build_model('relu')
model_relu.fit(train_data, train_label,epochs= 80, batch_size=1, validation_split=0.3, verbose=0)
test_mse_score, test_mae_score = model_relu.evaluate(test_data, test_label)

10/10 [==============================] - 0s 2ms/step - loss: 82.5029 - mae: 6.4671

In [43]:
model_drop = build_model_drop('relu')
model_drop.fit(train_data, train_label,epochs= 100, batch_size=150, verbose=0)
test_mse_score, test_mae_score = model_relu.evaluate(test_data, test_label)

10/10 [==============================] - 0s 2ms/step - loss: 82.5029 - mae: 6.4671

In [ ]:
test_mse_score

61.32849884033203

In [ ]:
test_mae_score

5.947752952575684

In [44]:
x_relu = model_relu.predict(test_data[5].reshape(1,test_data.shape[1]))

KeyError: ignored

In [ ]:
x_relu * std_label + mean_label