In [1]:
import pandas as pd

In [8]:
emp_data=pd.read_csv(r'C:\Users\ahmad\Downloads\Compressed\archive\train_BRCpofr.csv')
emp_data.head()

,id,gender,area,qualification,income,marital_status,vintage,claim_amount,num_policies,policy,type_of_policy,cltv
0,1,Male,Urban,Bachelor,5L-10L,1,5,5790,More than 1,A,Platinum,64308
1,2,Male,Rural,High School,5L-10L,0,8,5080,More than 1,A,Platinum,515400
2,3,Male,Urban,Bachelor,5L-10L,1,8,2599,More than 1,A,Platinum,64212
3,4,Female,Rural,High School,5L-10L,0,7,0,More than 1,A,Platinum,97920
4,5,Male,Urban,High School,More than 10L,1,6,3508,More than 1,A,Gold,59736

In [14]:
emp_data.isnull().any()

id                False
gender            False
area              False
qualification     False
income            False
marital_status    False
vintage           False
claim_amount      False
num_policies      False
policy            False
type_of_policy    False
cltv              False
dtype: bool

In [15]:
emp_data.columns

Index(['id', 'gender', 'area', 'qualification', 'income', 'marital_status',
       'vintage', 'claim_amount', 'num_policies', 'policy', 'type_of_policy',
       'cltv'],
      dtype='object')

In [11]:
em_data.dtype()

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [16]:
emp_data.dtypes

id                 int64
gender            object
area              object
qualification     object
income            object
marital_status     int64
vintage            int64
claim_amount       int64
num_policies      object
policy            object
type_of_policy    object
cltv               int64
dtype: object

In [20]:
emp_data.drop(['qualification']), axis=3

SyntaxError: cannot assign to function call (1309711767.py, line 1)

In [21]:
emp_data.drop(columns = ['qualification']), inplace = True

SyntaxError: cannot assign to function call (3130167818.py, line 1)

In [22]:
emp_data.columns

Index(['id', 'gender', 'area', 'qualification', 'income', 'marital_status',
       'vintage', 'claim_amount', 'num_policies', 'policy', 'type_of_policy',
       'cltv'],
      dtype='object')